body {
    background-color: var(--body--bg-color);
    color: var(--main--text--color);
    font-family: var(--main--font-family);
    font-size: 13px;
    line-height: 16px;
}

.main__content {
    display: flex;
    gap: 26px;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: flex-start;
    margin-top: var(--main--indent--top);
}

.container {
    background-color: var(--container--bg-color);
    /* height: var(--content--height);  */
    /* overflow-y: auto; */
}

.user__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-action__content {
    width: calc(30% - 26px);
    margin-top: var(--action-container--indent--top);
}

.user-list {
    margin-top: 16px;
    width: 100%;
}

.user-list__card {
    display: grid;
    grid-template-columns: 25% 15% 15% 25% auto;
    gap: 16px;
    align-items: center;
    overflow-wrap: anywhere;
    margin-bottom: 2px;
}

.user-list__card { 
    padding: 22px 26px 21px;
}

.user-list__card:not(.title) {
    background-color: var(--user-card--bg-color); 
}

.user-list__card:not(.title):active,
.user-list__card:not(.title):hover,
.user-list__card:not(.title):focus {
    background-color: var(--user-card--bg-color--highlight);
}

/* .user-list__card.title {
    text-transform: uppercase;
    color: var(--title-secondary--color);
    font-weight: bold;
} */
.secondary-title {
    text-transform: uppercase;
    color: var(--title-secondary--color);
    font-weight: bold;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover,
a:focus {
    color: var(--user-link--color--highlight);
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px;
    height: calc(var(--content--height) - 52px); 
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 29px;
}

.form-field {
    margin-bottom: 16px;
    position: relative;
}

.form-field__input{
    width: calc(100% - 32px);
    padding: 16px;
    background: var(--input--iner--color);
    border: none;
    border-radius: 6px;
    position: relative;
}

.email__input {
    width: calc(100% - (46px + 16px));
    padding-left: 46px;
}

.email__char::before {
    content: '@';
    position: absolute;
    left: 16px;
    top: 30px;
    font-size: 24px;
    color: #c8c6c6;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap-reverse;
}
