<div>
    <!-- Button to toggle form visibility -->
    <button ng-click="toggleForm()">Create User</button>

    <!-- Link to the form HTML file -->
    <div ng-include="'views/user-form.html'"></div>

    <!-- User list -->
    <section class="user-list container">
        <div class="user-list--card title">
            <div class="user-list--item">Username</div>
            <div class="user-list--item">First name</div>
            <div class="user-list--item">Last name</div>
            <div class="user-list--item">Email</div>
            <div class="user-list--item">Type</div>
        </div>
        <div class="user-list--card" ng-init="getUser(userName)" ng-repeat="user in users track by user.userName">
            <div class="user-list--item" ng-click="openForm(user)">
                <a href="#!/user/{{user.userName}}">{{ user.userName }}</a>
            </div>
            <div class="user-list--item">{{ user.firstName }}</div>
            <div class="user-list--item">{{ user.lastName }}</div>
            <div class="user-list--item">{{ user.email }}</div>
            <div class="user-list--item">{{ user.type }}</div>
        </div>
    </section>
</div>