<form name="userForm" 
    ng-controller="UserFormCtrl" 
    user-form-validation
    novalidate
    ng-if="showForm" 
    class="container user-form" 
    ng-init="initForm(users)" 
    ng-submit="editingUser ? saveEditedUser() : addUser(user)">

    <div class="top__container">
        <!-- <h2>{{ editingUser ? 'Edit User' : 'Create New User1' }}</h2> -->

        <!-- <div ng-if="editingUser">
            {{ editingUser.firstName }} {{ editingUser.lastName }}
        </div> -->
        <div class="form-header">
            <div class="form-title">
                {{ editingUser ? (editingUser.firstName + ' ' + editingUser.lastName) : 'Create New User' }}
            </div>
            <div class="form-close" ng-click="closeForm()">
                X
            </div>
        </div>

        <div class="form-field">
            <label for="userName" class="form-field__label">Username</label>
            <input type="text" ng-model="user.userName" class="form-field__input" required>
            <div ng-messages="userForm.userName.$error" ng-if="userForm.userName.$touched">
                <div ng-message="required">Username is required.</div>
            </div>
        </div>
        <div class="form-field">
            <label for="firstName" class="form-field__label">First Name</label>
            <input type="text" ng-model="user.firstName" name="firstName" id="firstName" class="form-field__input" required>
            <div ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                <div ng-message="required">First name is required.</div>
            </div>
        </div>
        <div class="form-field">
            <label for="lastName" class="form-field__label">Last Name</label>
            <input type="text" ng-model="user.lastName" name="lastName" id="lastName" class="form-field__input" required>
            <div ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
                <div ng-message="required">Last name is required.</div>
            </div>
        </div>
        <div class="form-field">
            <label for="email" class="form-field__label">Email</label>
            <input type="email" ng-model="user.email" name="email" id="email" class="form-field__input" required>
            <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                <div ng-message="required">Email is required.</div>
                <div ng-message="email">Invalid email address.</div>
            </div>
        </div>
        <div class="form-field">
            <label for="type" class="form-field__label">Type</label>
            <input type="text" ng-model="user.type" name="type" id="type" class="form-field__input" required>
            <div ng-messages="userForm.type.$error" ng-if="userForm.type.$touched">
                <div ng-message="required">User type is required.</div>
            </div>
        </div>
        <div class="form-field">
            <label for="password" class="form-field__label">Password</label>
            <input type="password" ng-model="user.password" name="password" id="password" class="form-field__input" required>
            <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                <div ng-message="required">Password is required.</div>
                <div ng-message="passwordValidation">Password must be at least 8 characters long and contain at least one letter and one number.</div>
            </div>
        </div>
        <div class="form-field">
            <label for="repeatPassword" class="form-field__label">Repeat Password</label>
            <input type="password" ng-model="user.repeatPassword" name="repeatPassword" id="repeatPassword" class="form-field__input" required>
            <div ng-messages="userForm.repeatPassword.$error" ng-if="userForm.repeatPassword.$touched">
                <div ng-message="required">Repeat password is required.</div>
                <div ng-message="compareTo">Passwords do not match.</div>
            </div>
        </div>

        <!-- Display form validation errors -->
        <div ng-messages="userForm.$error" ng-if="userForm.$touched || userForm.$submitted" class="error-message">
            <div ng-message="serverErrors" ng-repeat="error in userForm.serverErrors">{{ error }}</div>
        </div>

        
        <div ng-if="successMessage" class="status-message success-message">{{successMessage}}</div>         
        <div ng-if="errorMessage" class="status-message error-message">{{errorMessage}}</div>  

    </div>

    <div class="bottom__container">

        <div class="form-actions">
            <div ng-if="editingUser">
                <button ng-click="deleteUser(editingUser.id)" class="btn btn-danger">Delete</button>
            </div>
            <button type="submit" class="btn btn-primary">{{ editingUser ? 'Save' : 'Create' }}</button>
        </div>

    </div>       

</form>
