<section class="user-list container">
    <div class="user-list__card title">
        <div class="user-list__item">Username</div>
        <div class="user-list__item">First name</div>
        <div class="user-list__item">Last name</div>
        <div class="user-list__item">Email</div>
        <div class="user-list__item">Type</div>
    </div>
    <div class="user-list__card" ng-init="getUser(userName)">
        <div class="user-list__item">{{ user.userName }}</div>
        <div class="user-list__item">{{ user.firstName }}</div>
        <div class="user-list__item">{{ user.lastName }}</div>
        <div class="user-list__item">{{ user.email }}</div>
        <div class="user-list__item">{{ user.type }}</div>
    </div>
</section>